<ion-header [translucent]="true">
  <ion-toolbar class="custom-navbar">
    <!-- Botón de menú en el lado izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon
          class="icono-menu"
          slot="icon-only"
          name="menu-outline"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mi perfil</ion-card-title>
            <ion-item
              lines="none"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <ion-icon
                name="person"
                slot="start"
                style="font-size: 30px; margin-right: 5px"
              ></ion-icon>
              <ion-card-subtitle>{{ nombre }} {{ apellido }}</ion-card-subtitle>
            </ion-item>
          </ion-card-header>

          <ion-row>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-item lines="none" (click)="setSelectedOption('informacion')">
                <ion-icon
                  name="settings"
                  slot="start"
                  style="font-size: 24px; margin-right: 8px; color: blue"
                ></ion-icon>
                Ajuste de cuenta
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-item lines="none" (click)="setSelectedOption('pagos')">
                <ion-icon
                  name="card"
                  slot="start"
                  style="
                    font-size: 24px;
                    margin-right: 8px;
                    color: rgba(120, 157, 236, 0.859);
                  "
                ></ion-icon>
                Pagos
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-item lines="none" (click)="setSelectedOption('ordenes')">
                <ion-icon
                  name="clipboard"
                  slot="start"
                  style="
                    font-size: 24px;
                    margin-right: 8px;
                    color: rgba(195, 109, 55, 0.759);
                  "
                ></ion-icon>
                Últimas órdenes
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" size-xl="8">
        <ion-card>
          <ion-row *ngIf="selectedOption === 'informacion'">
            <!-- La información personal -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title>Información de tu cuenta</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Nombre(s)</ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder=""
                  [(ngModel)]="nombre"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Apellido(s)</ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder=""
                  [(ngModel)]="apellido"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Correo Electrónico </ion-card-content>
              <ion-item>
                <ion-input
                  type="email"
                  placeholder="example@gmail.com"
                  [(ngModel)]="correo"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Celular </ion-card-content>
              <ion-item>
                <ion-input
                  type="tel"
                  placeholder="418 177 19 08"
                  [(ngModel)]="celular"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content>
                <label for="fechaNacimiento">Fecha de nacimiento</label>
                <ion-item lines="none">
                  <ion-icon
                    slot="end"
                    name="calendar"
                    style="font-size: 20px"
                    (click)="openDatePicker()"
                  ></ion-icon>
                </ion-item>

                <ion-datetime
                  id="fechaNacimiento"
                  display-format="DD/MM/YYYY"
                  min="1900-01-01"
                  max="2024-12-31"
                  [(ngModel)]="fechaNacimiento"
                  (ionChange)="openDatePicker()"
                  style="display: none"
                >
                </ion-datetime>
              </ion-card-content>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content>
                <label for="genero">Género</label>
                <ion-select
                  id="genero"
                  placeholder="Selecciona tu género"
                  [(ngModel)]="genero"
                >
                  <ion-select-option value="masculino"
                    >Hombre</ion-select-option
                  >
                  <ion-select-option value="femenino">Mujer</ion-select-option>
                  <ion-select-option value="otro">Otro</ion-select-option>
                </ion-select>
              </ion-card-content>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-button class="btn-sesion">Cerrar sesión</ion-button>
              <ion-button class="btn-sesion">Guardar datos</ion-button>
              <ion-button class="btn-sesion">Eliminar cuenta</ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="selectedOption === 'pagos'">
            <!--Pagos -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title>Métodos de pago</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="6"
            >
              <ion-card class="card-pagos">
                <ion-card-content>
                  <ion-icon
                    name="cash"
                    slot="start"
                    style="
                      font-size: 40px;
                      margin-right: 8px;
                      color: rgba(29, 231, 66, 0.859);
                    "
                  ></ion-icon>
                  <ion-card-title>Efectivo </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="6"
            >
              <ion-card class="card-pagos">
                <ion-card-content>
                  <ion-icon
                    name="arrow-down-circle"
                    slot="start"
                    style="
                      font-size: 40px;
                      margin-right: 8px;
                      color: rgba(29, 231, 66, 0.859);
                    "
                  ></ion-icon>
                  <ion-card-title>Tranferencia bancaria </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="selectedOption === 'ordenes'">
            <!-- Historial de órdenes -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title>Ultimos pedidos</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size-xs="12">
              <ion-card-content> No tienes ningún pedido </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-grid>
      <ion-row>
        <!-- Tienda -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/home" style="text-decoration: none; color: inherit">
            <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
            <p>TIENDA</p>
          </a>
        </ion-col>
  
        <!-- Carrito -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/carrito" style="text-decoration: none; color: inherit">
            <ion-icon name="cart-outline" class="footer-icon"></ion-icon>
            <p>CARRITO</p>
          </a>
        </ion-col>
  
        <!-- Perfil -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/perfil" style="text-decoration: none; color: inherit">
            <ion-icon name="person-outline" class="footer-icon"></ion-icon>
            <p>PERFIL</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
