<ion-header [translucent]="true">
  <ion-toolbar class="custom-navbar">
    <!-- Botón de menú en el lado izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon class="icono-menu" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons id="icono_carrito" slot="end">
      <ion-button (click)="openCarrito()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title><p>Mi perfil</p></ion-card-title>
            <ion-item
              lines="none"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <ion-icon
                name="person"
                slot="start"
                style="font-size: 30px; margin-right: 5px"
              ></ion-icon>
              <ion-card-subtitle>{{ username }}</ion-card-subtitle>
            </ion-item>
          </ion-card-header>

          <ion-row>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >

              <ion-item lines="none" (click)="setSelectedOption('informacion')">
                <div class="icon">
                  <ion-icon
                    name="settings"
                    slot="start"
                    style="font-size: 24px; margin-right: 8px; color: blue"
                  ></ion-icon>
                  Ajuste de cuenta
                </div>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >

              <ion-item lines="none" (click)="setSelectedOption('pagos')">
                <div class="icon">
                  <ion-icon
                    name="card"
                    slot="start"
                    style="
                      font-size: 24px;
                      margin-right: 8px;
                      color: rgba(120, 157, 236, 0.859);
                    "
                  ></ion-icon>
                  Pagos
                </div>

              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-item lines="none" (click)="setSelectedOption('ordenes')">
                <div class="icon">
                  <ion-icon
                    name="clipboard"
                    slot="start"
                    style="
                      font-size: 24px;
                      margin-right: 8px;
                      color: rgba(195, 109, 55, 0.759);
                    "
                  ></ion-icon>
                  Últimas órdenes
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" size-xl="8">
        <ion-card>
          <ion-row *ngIf="selectedOption === 'informacion'">
            <!-- La información personal -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title><p> Información de tu cuenta </p></ion-card-title>
              </ion-card-header>
            </ion-col>

            <ion-col size="6" class="center">
              <div (click)="openPhotoModal()" class="photo-container">
                <ng-container *ngIf="photoUrl; else defaultIcon">
                  <img
                    [src]="photoUrl"
                    class="profile-photo"
                    alt="Foto de usuario"
                  />
                </ng-container>
                <ng-template #defaultIcon>
                  <ion-icon
                    name="person-circle-outline"
                    class="default-icon"
                  ></ion-icon>
                </ng-template>
              </div>
            </ion-col>
            <ion-col
              size-xs="5"
              size-sm="5"
              size-md="5"
              size-lg="5"
              size-xl="5"
            >
              <ion-card-content>
                <strong>Opciones</strong>
              </ion-card-content>
              <ion-button
                expand="block"
                class="btn-sesion btn-contrasena"
                (click)="changePassword()"
              >
                Actualizar Contraseña
              </ion-button>
              <ion-button
                expand="block"
                class="btn-sesion btn-eliminar"
                (click)="deleteAccount()"
              >
                Eliminar Cuenta
              </ion-button>
            </ion-col>

            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Nombre Usuario</ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="username"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Nombre Completo</ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="fullName"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Correo Electrónico </ion-card-content>
              <ion-item>
                <ion-input
                  type="email"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="email"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Telefono </ion-card-content>
              <ion-item>
                <ion-input
                  type="email"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="phonenumber"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Numero de Control </ion-card-content>
              <ion-item>
                <ion-input
                  type="tel"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="controlNumber"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <ion-card-content> Grupo </ion-card-content>
              <ion-item>
                <ion-input
                  type="email"
                  placeholder=""
                  [readonly]="!isEditing"
                  [(ngModel)]="group"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-row
              size-xs="6"
              size-sm="6"
              size-md="6"
              size-lg="6"
              size-xl="6"
            >
              <!-- <ion-card-content>
                <label for="genero">ROL</label>
                <ion-select
                  id="rol"
                  placeholder="Selecciona tu ROL"
                  [(ngModel)]="rol"
                >
                  <ion-select-option value="Administrador"
                    >Administrador</ion-select-option
                  >
                  <ion-select-option value="vendedor">Vendedor</ion-select-option>
                </ion-select>
              </ion-card-content>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            > -->
              <ion-button
                expand="block"
                class="btn-sesion btn-guardar"
                (click)="toggleEdit()"
                >{{ isEditing ? 'Guardar Cambios' : 'Actualizar Datos'
                }}</ion-button
              >
            </ion-row>
          </ion-row>

          <ion-row *ngIf="selectedOption === 'pagos'">
            <!--Pagos -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title><p>Métodos de pago</p></ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="6"
            >
              <ion-card class="card-pagos">
                <ion-card-content>
                  <ion-icon
                    name="cash"
                    slot="start"
                    style="
                      font-size: 40px;
                      margin-right: 8px;
                      color: rgba(29, 231, 66, 0.859);
                    "
                  ></ion-icon>
                  <ion-card-title>Efectivo </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="6"
            >
              <ion-card class="card-pagos">
                <ion-card-content>
                  <ion-icon
                    name="arrow-down-circle"
                    slot="start"
                    style="
                      font-size: 40px;
                      margin-right: 8px;
                      color: rgba(29, 231, 66, 0.859);
                    "
                  ></ion-icon>
                  <ion-card-title>Tranferencia bancaria </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="selectedOption === 'ordenes'">
            <!-- Historial de órdenes -->
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="12"
              size-lg="12"
              size-xl="12"
            >
              <ion-card-header>
                <ion-card-title><p> Ultimos pedidos </p></ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size-xs="12" *ngIf="ordenes.length" >
              <ion-card-content style="display: flex; justify-content: space-between;" *ngFor="let orden of ordenes">
                <div slot="start">Orden Id: {{orden.id}}</div>
                <div slot="end">Total: {{orden.balance}}</div>
              </ion-card-content>
            </ion-col>
            <ion-col size-xs="12" *ngIf="!ordenes.length">
              <ion-card-content> No tienes ningún pedido </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-grid>
      <ion-row>
        <!-- Tienda -->
        <ion-col class="footer-item" size="6">
          <a routerLink="/home" style="text-decoration: none; color: inherit">
            <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
            <p>TIENDA</p>
          </a>
        </ion-col>

        <!-- Perfil -->
        <ion-col class="footer-item" size="6">
          <a routerLink="/perfil" style="text-decoration: none; color: inherit">
            <ion-icon name="person-outline" class="footer-icon"></ion-icon>
            <p>PERFIL</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
