.loading-spinner {
    display: block;
    margin: 32px auto;
  }
  
  .current-photo-container {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .current-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
  }
  