<ion-header [translucent]="true" id="first_screen__header">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="first_screen">
    <div id="first_screen__background">
      <div id="first_screen__background__white_figure">
        <img
          id="first_screen__background__white_figura__logo"
          src="assets/images/logos/Macondo-logo.png"
          alt="Logo Sr.Macondo"
        />
      </div>
      <div id="first_screen__background__texto">
        <h2>¡Bienvenido a UniExpress</h2>
        <h5>Registrate para comenzar a realizar pedidos</h5>
      </div>

      <div id="first_screen__background_white__botones__pantalla_pequenia">
        <ion-button class="button-ingresar" routerLink="/iniciar-sesion">Iniciar sesión</ion-button>
        <ion-button class="button-registrarse" routerLink="/registrar-usuario">Crear una cuenta</ion-button>
      </div>

    </div>

    <div id="first_screen__background_white">
      <div id="first_screen__background_white__texto">
        <h2>Ingresa o Registrate</h2>
      </div>
      <div id="first_screen__background_white__botones">
        <ion-button class="button-ingresar" routerLink="/iniciar-sesion">Iniciar sesión</ion-button>
        <ion-button class="button-registrarse" routerLink="/registrar-usuario">Crear una cuenta</ion-button>
      </div>
    </div>
  </div>
</ion-content>
