<ion-header [translucent]="true" id="first_screen__header">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="first_screen">
    <div id="first_screen__background">
      <div id="first_screen__background__white_figure">
        <img
          id="first_screen__background__white_figura__logo"
          src="assets/images/logos/Macondo-logo.png"
          alt="Logo Sr.Macondo"
        />
      </div>
      <div id="first_screen__background__texto"></div>
    </div>

    <div id="first_screen__background_white"></div>
  </div>
</ion-content>
