<ion-header [translucent]="true">
  <ion-toolbar class="custom-navbar">
    <!-- Botón de menú en el lado izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon class="icono-menu" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons id="icono_carrito" slot="end">
      <ion-button (click)="openCarrito()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let dulceria of dulces" size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3">
        <ion-card>
          <img class="image-container" [src]="dulceria.photoUrl" [alt]="dulceria.productname" />
          <ion-card-header>
            <ion-card-title>{{ dulceria.productname }} ${{ dulceria.price }}</ion-card-title>
            <ion-button class="btnes" (click)="presentAlert(dulceria)">Agregar</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-grid>
      <ion-row>
        <!-- Tienda -->
        <ion-col class="footer-item" size="6">
          <a href="/home" style="text-decoration: none; color: inherit">
            <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
            <p>TIENDA</p>
          </a>
        </ion-col>

        <!-- Perfil -->
        <ion-col class="footer-item" size="6">
          <a href="/perfil" style="text-decoration: none; color: inherit">
            <ion-icon name="person-outline" class="footer-icon"></ion-icon>
            <p>PERFIL</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>