<ion-header [translucent]="true">
  <ion-toolbar class="custom-navbar">
    <!-- Botón de menú en el lado izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon
          class="icono-menu"
          slot="icon-only"
          name="menu-outline"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons id="icono_carrito" slot="end">
      <ion-button (click)="openCarrito()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let item of menu"
        size-xs="6"
        size-sm="6"
        size-md="6"
        size-lg="4"
        size-xl="4"
      >
        <ion-card>
          <img class="image-container" [src]="item.image" [alt]="item.name" />
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item-divider> </ion-item-divider>
    <ion-row>
      <ion-col
        *ngFor="let postre of postres"
        size-xs="6"
        size-sm="6"
        size-md="6"
        size-lg="3"
        size-xl="3"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title
              >{{ postre.productname }} ${{ postre.price }}</ion-card-title
            >
            <ion-button class="Agregar" (click)="presentAlert(postre)"
              >Agregar</ion-button
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-grid>
      <ion-row>
        <!-- Tienda -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/home" style="text-decoration: none; color: inherit">
            <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
            <p>TIENDA</p>
          </a>
        </ion-col>
  
        <!-- Carrito -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/carrito" style="text-decoration: none; color: inherit">
            <ion-icon name="cart-outline" class="footer-icon"></ion-icon>
            <p>CARRITO</p>
          </a>
        </ion-col>
  
        <!-- Perfil -->
        <ion-col class="footer-item" size="4">
          <a routerLink="/perfil" style="text-decoration: none; color: inherit">
            <ion-icon name="person-outline" class="footer-icon"></ion-icon>
            <p>PERFIL</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>