<ion-toolbar class="custom-footer">
  <ion-grid>
    <ion-row>
      <!-- Tienda -->
      <ion-col class="footer-item" size="4">
        <a routerLink="/home" style="text-decoration: none; color: inherit">
          <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
          <p>TIENDA</p>
        </a>
      </ion-col>

      <!-- Carrito -->
      <ion-col class="footer-item" size="4">
        <a routerLink="/carrito" style="text-decoration: none; color: inherit">
          <ion-icon name="cart-outline" class="footer-icon"></ion-icon>
          <p>CARRITO</p>
        </a>
      </ion-col>

      <!-- Perfil -->
      <ion-col class="footer-item" size="4">
        <a routerLink="/perfil" style="text-decoration: none; color: inherit">
          <ion-icon name="person-outline" class="footer-icon"></ion-icon>
          <p>PERFIL</p>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>