ion-toolbar{
  --background: #1bc8ad;
  --color: #000000; /* Cambia el color del texto */
}

.container {
  margin: 0 auto; /* Centra el contenido */
  max-width: 1000px; /* Limita el ancho máximo */
  padding: 0 16px; /* Márgenes laterales */
  height: 100%;
}

.creditos_pnt {
  height: 100%;
}

.creditos_pnt__fila {
  margin-top: 5%;
  height: 100%;
}

.creditos_tlf__fila {
  width: 100%;
}

.creditos_pnt__fila__tarjeta {
  height: 30%;
}

.creditos_pnt__fila__tarjeta__content {
  padding: 10% 12%;
  height: 100%;
  cursor: pointer;
}

.creditos_pnt__fila__tarjeta__content h5 {
  color: black;
  font-size: 23px;
  font-weight: 800;
}

.creditos_pnt__fila__tarjeta__content p {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.creditos_pnt__fila__tarjeta {
  background: linear-gradient(
    137deg,
    rgba(15, 202, 173, 1) 0%,
    rgba(19, 41, 112, 1) 100%
  );
}

.creditos_pnt__fila__tarjeta:focus {
  width: 100%;
  background: linear-gradient(
    137deg,
    rgba(15, 202, 173, 1) 0%,
    rgba(19, 41, 112, 1) 100%
  );
  .creditos_pnt__fila__tarjeta__content h5 {
    color: white;
    font-size: 23px;
    font-weight: 800;
  }

  .creditos_pnt__fila__tarjeta__content p {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}

.creditos_tlf__fila__tarjeta {
  width: 100%;
  background: linear-gradient(
    137deg,
    rgba(15, 202, 173, 1) 0%,
    rgba(19, 41, 112, 1) 100%
  );
  transition: background 0.5s ease-in-out;
}

.creditos_tlf__fila__tarjeta:focus {
  width: 100%;
  background: linear-gradient(
    137deg,
    rgba(15, 202, 173, 1) 0%,
    rgba(19, 41, 112, 1) 100%
  );
  .creditos_tlf__fila__tarjeta__content h5 {
    color: white;
  }

  .creditos_tlf__fila__tarjeta__content p {
    color: white;
  }
}

.creditos_tlf__fila__tarjeta__content h5 {
  color: black;
  font-weight: 800;
}

.creditos_tlf__fila__tarjeta__content p {
  color: black;
  font-weight: 500;
}

.creditos_tlf {
  display: none;
}

.creditos_pnt {
  display: block;
}

@media (max-width: 768px) {
  .creditos_tlf {
    display: block;
  }

  .creditos_pnt {
    display: none;
  }
}

/*Css footer*/
.custom-footer {
  --background: #1BC8AD;
}

.footer-item {
  text-align: center;
}

.footer-icon {
  font-size: 2rem;
  color: rgb(8, 8, 8);
  margin-bottom: 5px;
}

.footer-item p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  color: rgb(0, 0, 0);
}