<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="light"> </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none" style="padding: 0.5rem">
      <ion-item-divider
        button
        style="
          --background: #d8d8d7;
          font-family: 'Serif';
          color: #5a4032;
          margin-bottom: 2rem;
          border-radius: 0.5rem;
          margin-top: 3rem;
        "
      >
        <ion-label>
          <ion-text style="font-weight: bold; font-size: 1.2rem"
            >User Nº 1</ion-text
          >
          <br />
          <ion-text color="primary" style="font-size: 1rem">$ 0.00</ion-text>
        </ion-label>

        <ion-icon
          name="person-outline"
          slot="end"
          style="font-size: 24px; color: black"
        ></ion-icon>
      </ion-item-divider>
      <ion-item-divider
        button
        style="
          --background: #d8d8d7;
          font-family: 'Serif';
          color: #5a4032;
          margin-bottom: 2rem;
          border-radius: 0.5rem;
          margin-top: 3rem;
        "
        ><ion-grid
          style="--background: #d8d8d7; font-family: 'Serif'; color: #5a4032"
        >
          <ion-row>
            <ion-col style="display: flex; justify-content: center">
              <ion-icon
                style="color: black; font-size: 24px"
                name="settings-outline"
              ></ion-icon>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
              <ion-icon
                style="color: black; font-size: 24px"
                name="contrast-outline"
              ></ion-icon>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
              <ion-icon
                routerLink="/creditos"
                style="color: black; font-size: 24px"
                name="wallet-outline"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <!-- Creditos -->
      <ion-item-divider
        style="
          font-family: 'Serif';
          font-size: 1.4rem;
          font-weight: bold;
          color: black;
          text-align: center;
          --background: none;
          margin: 2rem 0 1rem;
          border-radius: 0.5rem;
        "
      >
        <ion-label>Créditos</ion-label>
      </ion-item-divider>

      <a routerLink="/creditos" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="cash-outline"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Obten Créditos
            </ion-text>
          </ion-label>
        </ion-item>
      </a>


      <!-- Secciones -->
      <ion-item-divider
        style="
          font-family: 'Serif';
          font-size: 1.4rem;
          font-weight: bold;
          color: black;
          text-align: center;
          --background: none;
          margin: 2rem 0 1rem;
          border-radius: 0.5rem;
        "
      >
        <ion-label>Secciones</ion-label>
      </ion-item-divider>
      <!-- Sección Pizza -->
      <a href="/pizzas" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="pizza-outline"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Pizza
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
      <!-- Sección Gorditas, Quesadillas y Platillos -->
      <a href="/quesadillas" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="restaurant-outline"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Gorditas, Quesadillas y Platillos
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
      <!-- Sección Bebidas y Postres -->
      <a href="/postres" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
          ><ion-icon
            slot="start"
            name="ice-cream-outline"
            style="font-size: 1.5rem; color: #5a4032"
          >
          </ion-icon>

          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Bebidas y Postres
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
      <!-- Sección Tacos y tortas -->
      <a href="/tacos" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="fast-food-outline"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Tacos y Tortas
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
      <!-- Hmaburgesas -->
      <a href="/hamburguesas" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="fast-food-sharp"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Hamburguesas
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
      <!-- Dulces -->
      <a href="/dulceria" style="text-decoration: none; color: inherit">
        <ion-item
          button
          style="
            --background: none;
            font-family: 'Serif';
            color: #5a4032;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
          "
        >
          <ion-icon
            slot="start"
            name="happy-outline"
            style="font-size: 1.5rem; color: #5a4032"
          ></ion-icon>
          <ion-label>
            <ion-text style="font-weight: bold; font-size: 1.2rem">
              Dulceria
            </ion-text>
          </ion-label>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar class="custom-navbar">
    <!-- Botón de menú en el lado izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon
          class="icono-menu"
          slot="icon-only"
          name="menu-outline"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true" class="ion-padding">
  <ion-searchbar
    placeholder="Buscar..."
    style="--background: #ffffff; border-radius: 2rem; --color: #5a4032"
  ></ion-searchbar>
  <ion-grid>
    <ion-row class="banner-container" align-items-center>
      <!-- Imagen -->
      <ion-col size-xs="12" size-md="6" size-lg="6" class="image-col">
        <img
          src="assets/img/hamburgesa.png"
          alt="Hamburguesa"
          class="burger-image"
        />
      </ion-col>

      <!-- Contenido -->
      <ion-col size-xs="12" size-md="6" size-lg="6" class="content-col">
        <div class="content">
          <h2>MIRA NUESTRO<br />NUEVO CONTENIDO</h2>
          <button class="cta-button">Click Aquí</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="menu-items">
      <ion-col size="3" class="menu-item">
        <img src="assets/img/pizza.png" alt="Pizza" />
        <p>Pizza</p>
      </ion-col>
      <ion-col size="3" class="menu-item">
        <img src="assets/img/menu-de-snacks.png" alt="Botanas" />
        <p>Botanas</p>
      </ion-col>
      <ion-col size="3" class="menu-item">
        <img src="assets/img/taco.png" alt="Tacos" />
        <p>Tacos</p>
      </ion-col>
      <ion-col size="3" class="menu-item">
        <img src="assets/img/hamburguesa.png" alt="Hamburguesa" />
        <p>Hamburguesa</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <!-- Card 1 -->
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <div class="card">
          <h2>Pide y come rápido</h2>
          <div class="image-container">
            <img src="assets/img/Pizzas.png" alt="Pizza" />
            <div class="overlay">
              <p>Listo Para Comer</p>
            </div>
          </div>
        </div>
      </ion-col>

      <!-- Card 2 -->
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <div class="card">
          <h2>Buen sazón</h2>
          <div class="image-container">
            <img src="assets/img/Tacos.png" alt="Tacos" />
            <div class="overlay">
              <p>Prueba comida con buen sazón</p>
            </div>
          </div>
        </div>
      </ion-col>

      <!-- Card 3 -->
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <div class="card">
          <h2>Compras Anteriores</h2>
          <div class="image-container">
            <img src="assets/img/Quesadillas.png" alt="Quesadillas" />
            <div class="overlay">
              <p>Comida que ya has probado</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-grid>
      <ion-row>
        <!-- Tienda -->
        <ion-col class="footer-item" size="4">
          <a href="/tienda" style="text-decoration: none; color: inherit">
            <ion-icon name="storefront-outline" class="footer-icon"></ion-icon>
            <p>TIENDA</p>
          </a>
        </ion-col>

        <!-- Carrito -->
        <ion-col class="footer-item" size="4">
          <a href="/carrito" style="text-decoration: none; color: inherit">
            <ion-icon name="cart-outline" class="footer-icon"></ion-icon>
            <p>CARRITO</p>
          </a>
        </ion-col>

        <!-- Perfil -->
        <ion-col class="footer-item" size="4">
          <a href="/perfil" style="text-decoration: none; color: inherit">
            <ion-icon name="person-outline" class="footer-icon"></ion-icon>
            <p>PERFIL</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
